@media screen and (max-width: 760px) {
	.main__title {
		padding: 0 8px 0 8px;
	}
	.main-profile__me {
		flex-direction: column;
	}
	.container-contact-me {
		flex-direction: column;
	}

	.blogs-main .main-new {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
		padding: 12px 12px;
	}
	.main-new .main-new__img-portada {
		width: 100%;
		grid-area: 1/1/2/3;
		margin: 0 auto;
		text-align: center;
	}
	.main-new__img-portada .main-new__title {
		text-align: start;
	}
	.main-new .main-new__resume {
		grid-row: 2;
		padding-bottom: 46px;
	}
	.main-profile__me p {
		text-align: center;
		margin: 0 auto;
	}
}
